#about {
    background-color: var(--dark-blue);
    color: var(--white);
    padding-top: 7rem;
    padding-bottom: 10rem;
    margin-bottom: -10rem;
}

#resume-button {
    border-radius: 30px;
    border: 1px var(--white) solid;
    background-color: transparent;
    color: var(--white);
    padding: 0.75rem 2rem;
    transition: 0.3s ease-in;
}

#resume-button:hover {
    transition: 0.3s ease-in;
    border: 1px var(--blue) solid;
    background-color: var(--blue);
    cursor: pointer;
  }
