/* ********************** Color and font family ********************** */
:root {
  --white: #F5F5F5;
  --light-blue: #add8e6;
  --brown: #bf773f;
  --pink: #B77B82;
}

@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/lato/v17/S6u8w4BMUTPHjxsAXC-q.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/lato/v17/S6uyw4BMUTPHjx4wXg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/lato/v17/S6u9w4BMUTPHh6UVSwiPGQ.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* ********************** General styling over all html ********************** */

html {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

*, *:before, *:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

/* ********************** Container and columns ********************** */

@media screen and (min-width: 1024px) {
  .container {
    max-width: 960px;
  }
}

@media screen and (min-width: 1216px) {
  .container {
    max-width: 1152px;
  }
}

@media screen and (min-width: 1408px) {
  .container {
    max-width: 1344px;
  }
}

.container {
  --webkit-box-flex: 1;
  flex-grow: 1;
  margin: 0 auto;
  position: relative;
  width: auto;
  margin-bottom: 5rem;
}

.columns {
  display: flex;
}

.is-centered {
  --webkit-box-pack: center;
  justify-content: center;
  align-items: center;
}

.is-three-fifths {
  width: 80%;
}

@media screen and (min-width: 768px), print {
  .is-three-fifths {
    width: 60%;
  }
}

.is-two-fifths {
  width: 80%;
}

@media screen and (min-width: 768px), print {
  .is-two-fifths {
    width: 40%;
  }
}

.is-four-fifths {
  width: 80%;
}

/* ********************** Font sizes and text  ********************** */
.text-centered {
  text-align: center;
}

.page-title {
  font-size: 3rem;
  margin-bottom: 1rem;
}

@media screen and (min-width: 768px), print {
  .title-size-2-tablet {
    font-size: 4rem !important;
  }
}

@media screen and (min-width: 1024px) {
  .title-size-1-desktop {
    font-size: 5rem !important;
  }
}

.title {
  font-size: 2rem;
  margin-bottom: 1rem;
  font-weight: 600;
}

.subtitle {
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
}

@media screen and (min-width: 768px), print {
  .subtitle-size-2-tablet {
    font-size: 1.25rem !important;
  }
}

.information {
  font-size: 1rem;
  font-weight: 400;
  padding-bottom: 1rem;
}

.social-icon {
  font-size: 2rem;
  color: black;
}