.social-links {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 1rem;
}

.footer {
    background-color: var(--blue);
    color: var(--white);
}

.footer .container {
    padding-top: 2rem;
    margin-bottom: 0;
}